In [1]:
#Imports
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
import glob
from datetime import date

In [3]:
#Read csv file (change directory in your path or renamve csv to trips)
df_trips = pd.read_csv("../data/input/trips.csv")

In [4]:
cols_dropped = df_trips.dropna(inplace=False)

In [5]:
print("The original frame has",len(df_trips),"rows")
print(len(df_trips)-len(cols_dropped),"null values within the stream")
print("Remember: There are also null values in columns just because of privacy reasons - Actually we don't should drop them")

The original frame has 1000000 rows
999993 null values within the stream
Remember: There are also null values in columns just because of privacy reasons - Actually we don't should drop them

In [6]:
#Sampling function
def sampleFile(sample_size,df):
    df_new = df.sample(frac = (sample_size/100))
    return df_new

In [7]:
#Sample df to 20% of original frame 
df_sample = sampleFile(20,df_trips)

In [8]:
df_sample.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
528120,b89534655e07727455fed80508fbfd0626f9b15e,800514cef2fedac7b982b2ba503909e4d30295b46723c3...,06/25/2013 11:45:00 AM,06/25/2013 12:00:00 PM,900.0,3.3,NaN,NaN,NaN,NaN,...,0.0,11.45,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527378,169a0a030a1f27b69415e2496e1e01a05fc77814,dd7341ff0099d3c6e4f72299b69cd3d8fccb783a22b32c...,06/08/2013 07:00:00 PM,06/08/2013 07:00:00 PM,420.0,1.2,NaN,NaN,NaN,NaN,...,1.0,7.45,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158378,1019c6de7030997703bdcc58f537bc450c297d5b,aa4c3beb61a579d4f214d3f92395a4f7bc7245a2cb21eb...,01/30/2013 01:00:00 PM,01/30/2013 01:00:00 PM,300.0,0.6,NaN,NaN,NaN,NaN,...,0.0,5.05,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299790,8dd539b89714db74be865ff56525ddf067cb1d6f,4324dfe74f160fb8c591887de768a75a7f87b58c3ff790...,03/29/2013 04:00:00 PM,03/29/2013 04:15:00 PM,600.0,2.6,NaN,NaN,NaN,NaN,...,0.0,9.25,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631428,9bc81cd81809b503430494a083c2fb2c5fc325f9,de9289a1fce135051f6e9206044f8211c86a1a6acd68d4...,04/06/2013 01:00:00 AM,04/06/2013 01:00:00 AM,420.0,2.0,NaN,NaN,NaN,NaN,...,1.0,8.65,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_sample.index

Int64Index([528120, 527378, 158378, 299790, 631428,  80480,  31639, 968708,
             87332,  46262,
            ...
            403575, 160543, 618675, 588187, 399632, 616318, 948807, 879793,
            830778, 739992],
           dtype='int64', length=200000)

In [10]:
#Write parquet of sample frame
frame = pa.Table.from_pandas(df_sample)
pq.write_table(frame, '../data/df_sample_{}.parquet'.format(date.today().strftime("%d_%m_%Y")))