In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import shapely
from shapely import wkt
import h3
from datetime import date
import pyarrow.parquet as pq
import pyarrow as pa
#from fastparquet import write
#from parquet

ModuleNotFoundError: No module named 'h3'

# Data Cleaning

In [61]:
df = pd.read_parquet("../data/df_sample_21_06_2021.parquet")
df["PU_Centroid"] = gpd.points_from_xy(df["Pickup Centroid Longitude"], df["Pickup Centroid Latitude"])
df["DO_Centroid"] = gpd.points_from_xy(df["Dropoff Centroid Longitude"], df["Dropoff Centroid Latitude"])                                                   
#df = df.drop(columns = ["Pickup Centroid Latitude","Pickup Centroid Longitude","Dropoff Centroid Latitude","Dropoff Centroid Longitude"])
df["Trip Start Timestamp"] = pd.to_datetime(df["Trip Start Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df["Trip End Timestamp"] = pd.to_datetime(df["Trip End Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,PU_Centroid,DO_Centroid
489487,5487de4e97b71188efadf95669f532a5ccb08843,56f2fce86600dd132681be1323fe78ce26e60f2fffe4b3...,2017-01-09 11:45:00,2017-01-09 12:00:00,480.0,0.10,NaN,NaN,8.0,7.0,...,Cash,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),POINT (-87.63331 41.89960),POINT (-87.64949 41.92269)
16284335,491aabe21dbd65e2fa8efca4cdf7d6bf40f45b89,edcd6d939a065b4d0028d5219351a593d77b1b17637db3...,2017-08-17 14:30:00,2017-08-17 14:30:00,240.0,0.90,1.703132e+10,1.703108e+10,32.0,8.0,...,Cash,Setare Inc,41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),POINT (-87.62197 41.87741),POINT (-87.61887 41.89092)
23654313,2aa9a8c8495b6c1962389dbf44878bc4a3525044,e91e4de492c9c2d6ba96fb54d5dfcd8ff35f44763e07b2...,2017-12-07 16:45:00,2017-12-07 17:00:00,960.0,1.90,1.703108e+10,1.703128e+10,8.0,28.0,...,Cash,Chicago Medallion Management,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.879255,-87.642649,POINT (-87.642648998 41.8792550844),POINT (-87.62076 41.89833),POINT (-87.64265 41.87926)
4052837,522fe170918a41a9eacb8c665b5a699be9db33c8,fbdfc1bdf8477e6043d2012f98283fdbc6212192a065ab...,2017-03-03 07:30:00,2017-03-03 07:45:00,360.0,0.20,NaN,NaN,6.0,8.0,...,Cash,Taxi Affiliation Services,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.65600 41.94423),POINT (-87.63331 41.89960)
24227782,01f2299f0f930e58e4d055883a5e32322ccd0504,46aa5f56690093619bf1d247a8160b0a86071e585e6d60...,2017-12-15 19:45:00,2017-12-15 20:00:00,1044.0,6.38,NaN,NaN,NaN,NaN,...,Cash,Taxi Affiliation Service Yellow,NaN,NaN,None,NaN,NaN,None,POINT (nan nan),POINT (nan nan)

In [62]:
df_filtered = df.nsmallest(int(df.index.size * 0.999), "Trip Total", keep='first')
total_filter = df_filtered["Trip Total"].max()
min_total = df_filtered["Trip Total"].min()
print("Max Total:",total_filter)
print("Min Total:",min_total)

df_filtered = df.nsmallest(int(df.index.size * 0.999), "Trip Seconds", keep='first')
seconds_filter = df_filtered["Trip Seconds"].max()
min_seconds = df_filtered["Trip Seconds"].min()
print("Max Seconds:",seconds_filter)
print("Min Seconds:",min_seconds)

df = df.copy()[(df["Trip Total"] <= total_filter)&
                   (df["Trip Seconds"]<=seconds_filter)&
                   (df["Trip Seconds"]> 60)]
print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

Max Total: 124.2
Min Total: 0.0
Max Seconds: 7020.0
Min Seconds: 0.0
Kept 1.0 percent of data

In [63]:
#kick out values under 2$
print("0$ Total Trips:",df[df["Trip Total"]==0].index.size)
print("0$ Fare Trips:",df[df["Fare"]==0].index.size)


df = df.copy()[(df["Trip Total"] >= 2)&
                   (df["Fare"]>=2)]

print("New min Total: ",min(df["Trip Total"]))
print("New max Total: ",max(df["Trip Total"]))
print("New min Fare: ",min(df["Fare"]))
print("New max Fare: ",max(df["Fare"]))

print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

0$ Total Trips: 91
0$ Fare Trips: 104
New min Total:  2.0
New max Total:  124.2
New min Fare:  2.0
New max Fare:  123.75
Kept 1.0 percent of data

In [64]:
print("New min Total: ",min(df["Trip Total"]))
print("New max Total: ",max(df["Trip Total"]))

New min Total:  2.0
New max Total:  124.2

In [65]:
#For understanding 
df[["Trip Total","Tolls","Tips","Extras","Fare"]].sample(10)

          Trip Total  Tolls  Tips  Extras   Fare
22003530        7.25    0.0  0.00     1.0   6.25
4351207         5.25    0.0  0.00     0.0   5.25
12241075       31.50    0.0  5.00     0.0  26.00
17341807        8.75    NaN  0.00     0.0   8.75
9021990        12.50    NaN  0.00     0.0  12.50
9004395         9.25    0.0  0.00     0.0   9.25
18631696       11.75    0.0  2.00     1.0   8.25
1917111         9.25    NaN  1.00     0.0   8.25
4979635        20.70    NaN  3.45     1.0  16.25
11225146        7.00    0.0  2.00     0.0   5.00

In [66]:
#Kick out all values of December and 2018
df['start_month'] = df['Trip Start Timestamp'].dt.month
df['start_year'] = df['Trip Start Timestamp'].dt.year
df['end_month'] = df['Trip End Timestamp'].dt.month
df['end_year'] = df['Trip End Timestamp'].dt.year

df = df[(df['start_year'] == 2017 ) & (df['end_year'] == 2017) ]
df = df[(df['start_month'] !=12 ) & (df['end_month'] !=12) ]
print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

#Drop columns again
df.drop(columns=['start_month', 'start_year', 'end_month' , 'end_year'], inplace = True)

print()
#Min and Max Trip Start and end
print("New min start: ",min(df['Trip Start Timestamp']))
print("New min end: ",min(df['Trip End Timestamp']))
print("New min start: ",max(df['Trip Start Timestamp']))
print("New min end: ",max(df['Trip End Timestamp']))

Kept 1.0 percent of data

New min start:  2017-01-01 00:00:00
New min end:  2017-01-01 00:00:00
New min start:  2017-11-30 23:45:00
New min end:  2017-11-30 23:45:00

In [67]:
#Check null values in payment type and company
pay_verifier = df['Payment Type'].dropna()
print("Number of null values within column payment type: ",len(df)-len(pay_verifier))

com_verifier = df['Company'].dropna()
print("Number of null values within column payment type: ",len(df)-len(com_verifier))
print()
print("if 0, we don't have to drop something.")

Number of null values within column payment type:  0
Number of null values within column payment type:  0

if 0, we don't have to drop something.

In [68]:
#Miles have to be checked with the geo data

# H3 Conversion

In [69]:
#Converting Geo-Points to H3

def h3_conversion(value,h3_level):
    if isinstance(value,shapely.geometry.point.Point):
        return h3.geo_to_h3(value.y, value.x, h3_level)
    else:
        return np.nan

df["PU_H3"] = df.apply(lambda x: h3_conversion(x["PU_Centroid"],8),axis=1)
df["DO_H3"] = df.apply(lambda x: h3_conversion(x["DO_Centroid"],8),axis=1)
df["PU_H3"] = df["PU_H3"].replace("0",np.nan)
df["DO_H3"] = df["DO_H3"].replace("0",np.nan)
df

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,PU_Centroid,DO_Centroid,PU_H3,DO_H3
489487,5487de4e97b71188efadf95669f532a5ccb08843,56f2fce86600dd132681be1323fe78ce26e60f2fffe4b3...,2017-01-09 11:45:00,2017-01-09 12:00:00,480.0,0.10,NaN,NaN,8.0,7.0,...,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),POINT (-87.63331 41.89960),POINT (-87.64949 41.92269),882664c1edfffff,882664c107fffff
16284335,491aabe21dbd65e2fa8efca4cdf7d6bf40f45b89,edcd6d939a065b4d0028d5219351a593d77b1b17637db3...,2017-08-17 14:30:00,2017-08-17 14:30:00,240.0,0.90,1.703132e+10,1.703108e+10,32.0,8.0,...,41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),POINT (-87.62197 41.87741),POINT (-87.61887 41.89092),882664c1abfffff,882664c1e3fffff
4052837,522fe170918a41a9eacb8c665b5a699be9db33c8,fbdfc1bdf8477e6043d2012f98283fdbc6212192a065ab...,2017-03-03 07:30:00,2017-03-03 07:45:00,360.0,0.20,NaN,NaN,6.0,8.0,...,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.65600 41.94423),POINT (-87.63331 41.89960),882664c163fffff,882664c1edfffff
14574858,0fc17e1ac2fbdbe5ce772521e712341bb5b19d64,e428b282d868d83ee36a566f79e7e8926c9c3c631809cc...,2017-07-23 10:30:00,2017-07-23 10:30:00,401.0,1.19,1.703132e+10,1.703108e+10,32.0,8.0,...,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.891972,-87.612945,POINT (-87.6129454143 41.8919715078),POINT (-87.62099 41.88499),POINT (-87.61295 41.89197),882664c1e3fffff,882664c1ebfffff
3642582,53278beb03b150357771f184b6b0787eec16c095,5e3077a68e0439a1168a98d848e9ae3fd8c74f61bc4323...,2017-02-25 10:00:00,2017-02-25 10:30:00,1496.0,17.50,1.703198e+10,1.703108e+10,76.0,8.0,...,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),POINT (-87.90304 41.97907),POINT (-87.61887 41.89092),88275934edfffff,882664c1e3fffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15222148,a89b8184f7fac806027d84f53442cfe277df55a9,5067aae3d9e1474101b1df5c6b7fe79389e429ea7d8203...,2017-08-02 09:15:00,2017-08-02 09:30:00,515.0,0.91,1.703108e+10,1.703184e+10,8.0,32.0,...,41.893216,-87.637844,POINT (-87.6378442095 41.8932163595),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),POINT (-87.63784 41.89322),POINT (-87.63275 41.88099),882664c1e5fffff,882664c1a9fffff
17263392,4984ef9134dc014b846ca9da794063fe676f383f,26c67b9c1586a499ebce49471a85b4320959f1889f9e17...,2017-09-01 17:30:00,2017-09-01 17:30:00,225.0,0.40,NaN,NaN,24.0,24.0,...,41.901207,-87.676356,POINT (-87.6763559892 41.90120699410001),41.901207,-87.676356,POINT (-87.6763559892 41.90120699410001),POINT (-87.67636 41.90121),POINT (-87.67636 41.90121),882664cac3fffff,882664cac3fffff
12066,cbaaab556a77ca3a487c00388a7d3d0f9b16e3f2,509d0dd98b05782a63cf79ec6f81b58b941c2a8a69d256...,2017-01-01 02:00:00,2017-01-01 02:00:00,590.0,5.11,1.703108e+10,1.703103e+10,8.0,3.0,...,41.907492,-87.635760,POINT (-87.6357600901 41.9074919303),41.967289,-87.652435,POINT (-87.65243499970002 41.9672886138),POINT (-87.63576 41.90749),POINT (-87.65243 41.96729),882664c13bfffff,882664d891fffff
5286394,fbd73b3c0d0361520f058edab3536bf348921796,518a723f256b790fb53cc59b6b6e83257add3b810152d3...,2017-03-19 00:30:00,2017-03-19 00:30:00,360.0,0.50,1.703108e+10,1.703108e+10,8.0,8.0,...,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),POINT (-87.63186 41.89204),POINT (-87.63186 41.89204),882664c1e7fffff,882664c1e7fffff
2034369,09a02d469bf17a4ae0a5acd3251f229eec7b3d52,d86cc058dfd5bc89d698b8767fe48fd9a0fe8ed8c3111c...,2017-02-01 21:00:00,2017-02-01 21:00:00,335.0,1.01,1.703184e+10,1.703132e+10,32.0,32.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),POINT (-87.63275 41.88099),POINT (-87.62099 41.88499),882664c1a9fffff,882664c1e3fffff

# Data Preparation

In [70]:
def addDateCols(added_word, used_datetime,df_name): 

    #added word: Put your indivuword word to the string 

    #Month and weekday name
    df_name[added_word+'_MONTH_NAME'] = df_name[used_datetime].dt.month_name()
    df_name[added_word+'_WEEKDAY_NAME'] = df_name[used_datetime].dt.day_name()
    
    #Year
    df_name[added_word+'_YEAR'] = df_name[used_datetime].dt.year
    df_name[added_word+'_YEAR'] = df_name[added_word+'_YEAR'].astype(str)

    #Month numeric
    df_name[added_word+'_MONTH'] = df_name[used_datetime].dt.month
    df_name[added_word+'_MONTH'] = pd.to_numeric(df_name[added_word+'_MONTH'])
    
    #Weekday numeric
    df_name[added_word+'_WEEKDAY'] = df_name[used_datetime].dt.dayofweek
    df_name[added_word+'_WEEKDAY'] = pd.to_numeric(df_name[added_word+'_WEEKDAY'])

    #Day numeric
    df_name[added_word+'_HOUR'] = df_name[used_datetime].dt.hour
    df_name[added_word+'_HOUR'] = pd.to_numeric(df_name[added_word+'_HOUR'])+1
    
    #Day of week
    df_name[added_word+'_HOUR_OF_WEEK'] = (df_name[added_word+'_WEEKDAY']*24) + df_name[added_word+'_HOUR']
    
    #Fifth of the day
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([1,2,3,4,5]),'1/5', -1)
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([6,7,8,9,10]),'2/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([11,12,13,14,15]),'3/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([16,17,18,19,20]),'4/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([21,22,23,24,25]),'5/5', df_name[added_word+'_FOUR_HOURLY'])
    
    
    return df_name

In [71]:
#Adding datetime columns
df_prepared = addDateCols("PU","Trip Start Timestamp",df)

In [72]:
df_prepared.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,PU_H3,DO_H3,PU_MONTH_NAME,PU_WEEKDAY_NAME,PU_YEAR,PU_MONTH,PU_WEEKDAY,PU_HOUR,PU_HOUR_OF_WEEK,PU_FOUR_HOURLY
489487,5487de4e97b71188efadf95669f532a5ccb08843,56f2fce86600dd132681be1323fe78ce26e60f2fffe4b3...,2017-01-09 11:45:00,2017-01-09 12:00:00,480.0,0.10,NaN,NaN,8.0,7.0,...,882664c1edfffff,882664c107fffff,January,Monday,2017,1,0,12,12,3/5
16284335,491aabe21dbd65e2fa8efca4cdf7d6bf40f45b89,edcd6d939a065b4d0028d5219351a593d77b1b17637db3...,2017-08-17 14:30:00,2017-08-17 14:30:00,240.0,0.90,1.703132e+10,1.703108e+10,32.0,8.0,...,882664c1abfffff,882664c1e3fffff,August,Thursday,2017,8,3,15,87,3/5
4052837,522fe170918a41a9eacb8c665b5a699be9db33c8,fbdfc1bdf8477e6043d2012f98283fdbc6212192a065ab...,2017-03-03 07:30:00,2017-03-03 07:45:00,360.0,0.20,NaN,NaN,6.0,8.0,...,882664c163fffff,882664c1edfffff,March,Friday,2017,3,4,8,104,2/5
14574858,0fc17e1ac2fbdbe5ce772521e712341bb5b19d64,e428b282d868d83ee36a566f79e7e8926c9c3c631809cc...,2017-07-23 10:30:00,2017-07-23 10:30:00,401.0,1.19,1.703132e+10,1.703108e+10,32.0,8.0,...,882664c1e3fffff,882664c1ebfffff,July,Sunday,2017,7,6,11,155,3/5
3642582,53278beb03b150357771f184b6b0787eec16c095,5e3077a68e0439a1168a98d848e9ae3fd8c74f61bc4323...,2017-02-25 10:00:00,2017-02-25 10:30:00,1496.0,17.50,1.703198e+10,1.703108e+10,76.0,8.0,...,88275934edfffff,882664c1e3fffff,February,Saturday,2017,2,5,11,131,3/5

### Deleting remaining null values

In [73]:
df_prepared = df_prepared[df_prepared['Trip Seconds'].notna()]
df_prepared = df_prepared[df_prepared['Trip Miles'].notna()]
df_prepared = df_prepared[df_prepared['Trip Total'].notna()]

## Option 1: Parrow:

In [74]:
#Write parquet of cleaned frame
df_compatible = df_prepared.drop(columns=["PU_Centroid","DO_Centroid"])
frame = pa.Table.from_pandas(df_compatible)
pq.write_table(frame, '../data/df_cleaned_{}.parquet'.format(date.today().strftime("%d_%m_%Y")))